<div class="wrapper">
  <header>
    <h1>
      <a href="{{ site.url }}">
        {{ site.title  }}
      </a>
    </h1>
    
    <img src="{{ site.logo }}" alt="Logo" />

    <p>
      @for (line of site.description; track $index) {
        <i>{{ line }}</i><br>
      }
    </p>
    <p class="view">
      <a href="{{ git.repoUrl }}">
        View the Project on GitHub 
        <small>{{ git.nwo }}</small>
      </a>
    </p>

    <p>
      @for (line of site.userInfo; track $index) {
        {{ line }}<br>
      }
    </p>
    <p class="view">
      <a href="{{ git.url }}">
        View My GitHub Profile
      </a>
    </p>
  </header>

  <section>

    <!-- <small>{{ page.date | date: "%-d %B %Y" }}</small>
    <h1>{{ page.title }}</h1>
    <p class="view"><i>by {{ page.author | default: site.author }}</i></p> -->

    <!-- {{ content }} -->
    @if (htmlContent) {
      <div [innerHTML]="htmlContent"></div>
    }

    <!-- <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small> -->

  </section> 

  <footer>
    <p>
      This project is maintained by
      <a href="{{ git.url }}">
        {{ git.fullName }}
      </a>
    </p>
  </footer>
</div>
