<div class="wrapper">
  <header>
    <h1>
      <a href="{{ site.url }}">
        {{ site.title  }}
      </a>
    </h1>
    
    <img src="{{ site.logo }}" alt="Logo" />

    <p>
      @for (line of site.description; track $index) {
        <i>{{ line }}</i><br>
      }
    </p>
    <p class="view">
      <a href="{{ git.repoUrl }}">
        View the Project on GitHub 
        <small>{{ git.nwo }}</small>
      </a>
    </p>

    <p>
      @for (line of site.userInfo; track $index) {
        {{ line }}<br>
      }
    </p>
    <p class="view">
      <a href="{{ git.url }}">
        View My GitHub Profile
      </a>
    </p>
  </header>

  <section>
    <router-outlet/>
  </section> 

  <footer>
    <p>
      This project is maintained by
      <a href="{{ git.url }}">
        {{ git.fullName }}
      </a>
    </p>
  </footer>
</div>
