<div class="wrapper">
  <header>
    <h1>
      <a (click)="changeView('app-home')">{{ site.title  }}</a>
    </h1>
    <img src="{{ site.logo }}" alt="Logo" />
    <p>
      @for (line of site.description; track $index) {
        <i>{{ line }}</i><br>
      }
    </p>
    <p class="view">
      <a href="{{ git.repoUrl }}">
        View the Project on GitHub 
        <small>{{ git.nwo }}</small>
      </a>
    </p>
    <p>
      @for (line of site.userInfo; track $index) {
        {{ line }}<br>
      }
    </p>
    <p class="view">
      <a href="{{ git.url }}">
        View My GitHub Profile
      </a>
    </p>
  </header>

  <section>
    @switch (view) {
      @case ('app-home') {
        <app-home [(view)]="view"></app-home>
      }
      @case ('app-flow') {
        <app-flow [(view)]="view"></app-flow>
      }
    }
  </section> 

  <footer>
    @if(view === 'app-home') {
      <p><i>
        This site is maintained by
        <a href="{{ git.url }}">
          {{ git.fullName }}
        </a>
      </i></p>
    } @else {
      <!--We need to go to parent instead of home-->
      <p><a (click)="changeView('app-home')">Go back</a></p>
    }
  </footer>
</div>
