<div><h1 id="hello-there">Hello there!</h1></div>

<div><p>
  I am something and I love competitive programming.<br>
  I mostly use <strong>C++</strong> for programming,<br>
  but I am know <strong>C, Python, and C#</strong>.
</p>
<p> Check out my 
  <a href="https://codeforces.com/profile/prottoyfuad">
    Codeforces
  </a> and 
  <a href="https://atcoder.jp/users/prottoyfuad">
    Atcoder
  </a> profile.
</p></div>

<div>
  Here’s some of my notes on different topics:
  <ul>
    <li><a (click)="changeView('app-flow')">Flows and Matchings</a></li>
  </ul>
</div>

<footer>
  <h3 id="have-a-good-rest-of-your-day-">Have a good rest of your day! 🎉</h3>
</footer>
